@import "./colors";

.form {
  padding: 20px;
  text-align: center;
  background-color: $grey;
  display: flex;
  flex-wrap: wrap;

  & input,
  & textArea {
    background-color: $black;
    color: $white;
    font-size: 16px;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin: 0 25%;
    max-width: 500px;
  }

  & textArea {
    margin: 10px 5%;
    height: 200px;
    width: 90%;
  }
  &_name,
  &_email,
  &_message {
    height: 40px;
    margin: 0 25%;
    width: 50%;
    color: $white;
  }
  &_button {
    height: 40px;
    width: 50%;
    margin-top: 10px;
  }
  &_heading {
    text-align: initial;
    color: $white;
    text-align: center;
    font-size: 3.3333333rem;
    line-height: 4.888888888888889rem;
  }
  &_div {
    width: 48%;
  }
}
