@import "./colors";

.head {
  &_main {
    color: $white;
    text-align: center;
    margin-bottom: 40px;
    height: 600px;
    background-color: $grey;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &_title,
    &_sub {
      margin: 0;
      font-size: 5.555555555555555rem;
      line-height: 4.888888888888889rem;
      letter-spacing: -0.25rem;
    }
  }
  &_details {
    margin: 0;
    font-size: 11px;

    &_div {
      width: 100%;
      display: flex;
      justify-content: end;
      list-style: none;
      transition: all 0.35s ease;
      text-transform: uppercase;

      &_small {
        height: fit-content;
        padding: 16px;
        padding-bottom: 1px;
        &_link {
          position: relative;
          text-decoration: none;
          font-size: 40px;
        }
        &_link::before,
        &_link::after {
          content: "";
          height: 14px;
          width: 14px;
          position: absolute;
          transition: all 0.35s ease;
          opacity: 0;
        }
        &_link::before {
          content: "";
          right: -10px;
          top: -10px;
          border-top: 3px solid green;
          border-right: 3px solid green;
          transform: translate(-100%, 50%);
        }
        &_link::after {
          content: "";
          left: -10px;
          bottom: 0px;
          border-bottom: 3px solid green;
          border-left: 3px solid green;
          transform: translate(100%, -50%);
        }
        &_link:hover:before,
        &_link:hover:after {
          transform: translate(0, 0);
          opacity: 1;
        }
        &_link:hover {
          color: $red;
        }
      }
    }
    &_image {
      height: 2rem;
      margin-bottom: 5px;
    }
  }
}
.hello {
  &_avatar {
    width: 10%;

    &_div {
      width: 80%;
    }
  }
}
