.projects {
  width: 45%;
  height: 620px;
  // margin-top: 100px;
  // margin-right: 50%;
  margin-left: 2%;

  &__heading {
    color: $white;
    margin-top: 0;

    &-small {
      color: $white;
      margin: 0;
      &-main {
        margin-left: 0;
        margin-top: 20px;
        color: $blue;
      }
    }
  }
  &__image {
    height: 200px;
    object-fit: contain;

    &-svg {
      width: 10%;
      height: 50px;
    }
  }
  &__div {
    background: $red;
    border-radius: 35px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    color: $white;
    margin-bottom: 10px;
    // box-shadow: 5px 10px 18px #888888;
    & a {
      width: 50%;
    }
    &-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: ease 0.4s;
      color: $blue;
    }
    &-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }
  & span {
  }
  & .slider {
    display: flex;
    justify-content: space-around;
    width: 50%;
    text-align: center;
    margin: 20px auto;
    &__button {
      height: 30px;
      width: 30px;
      display: inline-block;
      background-color: $red;
      margin: 5px;
      border-radius: 50%;
      transition: ease 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.2);
        // background-color: $blue;
      }
    }
  }
}
