.tech {
  width: 48%;

  &__image {
    height: 40px;
    margin: 15px;

    &-div {
      display: flex;
      flex-wrap: wrap;
      height: 468px;
      justify-content: space-between;

      &-small {
        width: 25%;
        height: 120px;
        margin: 5px;
        background-color: $grey;
        color: $white;
        text-align: center;
        transition: ease 0.5s;

        &:hover {
          filter: unset;
          transform: scale(1.01);
          box-shadow: 5px 10px 18px $red;
        }
      }
    }
    &-heading {
      margin: 0;
    }
  }
  &__heading {
    color: $white;
    text-align: center;
    font-size: 3.3333333rem;
    line-height: 4.888888888888889rem;
  }
}
// @include medium {
//   .tech {
//     width: 55%;
//     margin: 150px auto;
//     &__image {
//       width: unset;

//       &-div {
//         justify-content: space-between;
//         &-small {
//           width: unset;
//         }
//       }
//     }
//     &__heading {
//       margin-bottom: 120px;
//       margin-top: 120px;
//     }
//   }
// }
