@charset 'utf-8';
@import "./partials/colors";
html,
body,
.App {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  color: $white;
  height: 100vh;
  box-sizing: border-box;
  background-image: url(.././assets/photos/background.jpeg);
  background-attachment: fixed;
  background-color: $red;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  & .blur {
    opacity: 0.1;
  }

  a {
    text-decoration: none;
  }
}
#root {
  background: -webkit-linear-gradient($black, $white);
}
.App {
  display: flex;
  flex-direction: column;
}
/* Enforces border-box for whole site */
*,
*:before,
*:after {
  box-sizing: inherit;
}
.main_div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@import "./partials/head";
@import "./partials/button";
@import "./partials/prevProjects";
@import "./partials/form";
@import "./partials/star";
@import "./partials/footer";
@import "./partials/technologies";
