html,
body,
.App {
  margin: 0;
  font-family: "Source Code Pro", monospace;
  color: #f0ffff;
  height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url(.././assets/photos/background.jpeg);
  background-attachment: fixed;
  background-color: #682321;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

html .blur,
body .blur,
.App .blur {
  opacity: 0.1;
}

html a,
body a,
.App a {
  text-decoration: none;
}

#root {
  background: -webkit-linear-gradient(#282c34, #f0ffff);
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* Enforces border-box for whole site */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.main_div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.head_main {
  color: #f0ffff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.head_main_title {
  margin: 0;
}

.head_main_title_sub {
  margin: 0;
}

.head_details_div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 45px;
}

.head_details_div_small {
  width: 20%;
  height: 90px;
  background-color: #682321;
  border-radius: 25px;
  padding: 6px;
}

.head_details_div_small:hover {
  -webkit-filter: unset;
          filter: unset;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 5px 10px 18px #682321;
          box-shadow: 5px 10px 18px #682321;
}

.head_details_image {
  width: 25%;
  height: 33px;
}

.hello_avatar {
  width: 40%;
  border-radius: 25px;
}

.hello_avatar_div {
  width: 50%;
}

.button_div {
  text-align: center;
}

.button_div .button_div_press {
  cursor: pointer;
  -webkit-text-decoration: wavy;
          text-decoration: wavy;
  font-size: 20px;
  border-radius: 9px;
  margin: 10px;
  width: 20%;
  height: 40px;
  background-color: #682321;
  color: #f0ffff;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.button_div .button_div_pressbright {
  opacity: 1;
}

.projects {
  width: 45%;
  height: 620px;
  margin-left: 2%;
}

.projects__heading {
  color: #f0ffff;
  margin-top: 0;
}

.projects__heading-small {
  color: #f0ffff;
  margin: 0;
}

.projects__heading-small-main {
  margin-left: 0;
  margin-top: 20px;
  color: #2b4e69;
}

.projects__image {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.projects__image-svg {
  width: 10%;
  height: 50px;
}

.projects__div {
  background: #682321;
  border-radius: 35px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #f0ffff;
  margin-bottom: 10px;
}

.projects__div a {
  width: 50%;
}

.projects__div-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: ease 0.4s;
  transition: ease 0.4s;
  color: #2b4e69;
}

.projects__div-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  text-align: center;
  margin: 20px auto;
}

.projects .slider__button {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: #682321;
  margin: 5px;
  border-radius: 50%;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  cursor: pointer;
}

.projects .slider__button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.form {
  padding: 20px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 10px;
  background-color: #2b4e69;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form input,
.form textArea {
  background-color: #682321;
  color: #f0ffff;
  font-size: 16px;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  margin: 0 25%;
}

.form textArea {
  margin: 10px 5%;
  height: 200px;
  width: 90%;
}

.form_name, .form_email, .form_message {
  height: 40px;
  margin: 0 25%;
  width: 50%;
  color: #f0ffff;
}

.form_button {
  height: 40px;
  width: 50%;
  margin-top: 10px;
}

.form_heading {
  text-align: initial;
  color: #f0ffff;
}

.form_div {
  width: 40%;
  margin-right: 52%;
}

.star {
  background-color: #f0ffff;
  width: 2px;
  height: 2px;
  -webkit-animation: animStar 50s linear infinite;
          animation: animStar 50s linear infinite;
}

.footer {
  text-align: center;
  color: #f0ffff;
  margin: 0 20px;
}

.footer__heading {
  font-size: 16px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
  font-size: 30px;
}

.footer__heading-link {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  color: #f0ffff;
  font-size: 10px;
  margin: 0;
  font-size: 20px;
}

.footer__text {
  font-size: 12px;
  margin: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 25px;
}

.footer_main {
  padding: 5px;
  padding-top: 85px;
  width: 50%;
  margin-left: 50%;
  height: 300px;
}

.tech {
  width: 46%;
  height: 500px;
  margin-left: 53%;
}

.tech__image {
  height: 40px;
  margin: 15px;
}

.tech__image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tech__image-div-small {
  width: 30%;
  height: 120px;
  margin: 5px;
  background-color: #2b4e69;
  color: #f0ffff;
  text-align: center;
  border-radius: 5px;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

.tech__image-div-small:hover {
  -webkit-filter: unset;
          filter: unset;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 5px 10px 18px #682321;
          box-shadow: 5px 10px 18px #682321;
}

.tech__image-heading {
  margin: 0;
}

.tech__heading {
  color: #f0ffff;
}
/*# sourceMappingURL=main.css.map */